<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update App</title>
    <style>
        #main{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        #main form input,
        #main form label,
        #main form button{
            width: 100%;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div id="main">
    {% block inner %}
    {% endblock %}
</div>

</body>
</html>