{% extends 'update_app/base.html' %}

{% block inner %}
<form action="" method="POST" style="width: 50%">
    {% csrf_token %}
    <label for="nome_do_cliente_id">Nome do Cliente</label>
    <input type="text" id="nome_do_cliente_id" name="nome_do_cliente" required>
    <label for="data_de_nascimento_id">Data de Nascimento</label>
    <input type="date" id="data_de_nascimento_id" name="data_de_nascimento" required>
    <label for="data_de_coleta_id">Data de Coleta</label>
    <input type="date" id="data_de_coleta_id" name="data_de_coleta" required>
    <label for="nome_do_medico_id">Nome do Médico</label>
    <input type="text" id="nome_do_medico_id" name="nome_do_medico" required>
    <label for="codigo_identificador_id">Código Identificador</label>
    <input type="number" name="codigo_identificador" id="codigo_identificador_id" required>
    <button type="submit">Criar</button>
</form>
{% endblock %}