{% extends 'update_app/base.html' %}

{% block inner %}
<style>
    tbody tr th{
        font-weight: normal;
    }
    table tr th{
        border: 1px solid;
        padding: 5px;
    }
    #new_user{
        right: 50px;
        top: 40px;
        position: absolute;
        border: 1px solid;
        text-decoration: unset;
        padding: 10px;
    }
</style>
<a id="new_user" href="{% url 'update_app:create_item' %}">Novo Usuário</a>
<table>
    <thead style="text-align: left;">
        <tr>
            <th>Nome do Cliente</th>
            <th>Data de Nascimento</th>
            <th>Data de Coleta</th>
            <th>Nome do Médico</th>
            <th>Código Identificador</th>
            <th>Atualizar Dados</th>
        </tr>
    </thead>
    <tbody>
        {% for item in product_list %}
        <tr>
            <th>{{ item.nome_do_cliente }}</th>
            <th>{{ item.data_de_nascimento }}</th>
            <th>{{ item.data_de_coleta }}</th>
            <th>{{ item.nome_do_medico }}</th>
            <th>{{ item.codigo_identificador }}</th>
            <th><a href="{% url 'update_app:update_items' item.pk %}">Atualizar Item</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}