{% extends 'update_app/base.html' %}

{% block inner %}
<form method="post">
    {% csrf_token %}
    <label for="username_id">Usuário</label>
    <input id="username_id" type="text" name="username">
    <label for="password_id">Senha</label>
    <input id="password_id" type="password" name="password">
    <button type="submit">Login</button>
</form>
{% endblock %}